﻿@model passionproject.Models.ViewModels.TermEdit


@{
    ViewBag.Title = "Create";
}

<h2>New Term</h2>

<form method="POST" action="/Definingterms/Create">

    <div class="inputrow">
        <label class="input-label">Term Title:</label>
        <input id="Term_New" name="Term_New" />
    </div>
    <div class="inputrow">
        <label></label>
        <select name="wordid">
            @*information structure: termedit.cs -- information content in definingtermscontroller create*@

            @foreach (var word in Model.Words)
            {
                <option value="@word.WordID">@word.WordTitle</option>

            }
        </select>
    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>