﻿@model passionproject.Models.ViewModels.TermEdit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Term</h2>

<form method="POST" action="/Term/Edit">

    <div class="inputrow">
        <label class="input-label">Term:</label>
        <input id="Term_New" name="Term_New" value="@Model.Definingterms.Terms" />
    </div>
    @foreach (var word in Model.Words)
    {
        <option value="@Words.WordID"
                @if (Words.WordID == Model.Words.WordID) { var selected = "selected"; @selected ; }>
            @Words.WordID 
        </option>
    }
        <!--foreach loop, reference blog example, why -->
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>

