﻿@model IEnumerable<passionproject.Models.Definingterms>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>
<h3>We arrived at the list</h3>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Terms)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Terms)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.DefiningtermsID }) |
                @Html.ActionLink("Details", "Details", new { id = item.DefiningtermsID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.DefiningtermsID })
            </td>
        </tr>
    }

</table>
