﻿@model passionproject.Models.Definingterms

@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>

<div>
    @Html.ActionLink("Edit", "Edit/" + Model.DefiningtermsID)
</div>
<p>@Model.Terms</p>

<h3>Terms/h3>
@Html.ActionLink("Make A Page!", "New/", "Page")
@foreach (var term in Model.Definingterms)
{
    <span class="recitem">@Html.ActionLink(page.PageTitle, "Show/" + definingterms.DefiningtermsID, "Page")</span>