﻿@model passionproject.Models.Word

@{
    ViewBag.Title = "EditWord";
}

<h2>Edit Word</h2>

<form method="POST" action="/Word/EditWord/">
    @Model.WordID
    <div class="inputrow">
        <label class="input-label">Word:</label>
        <input id="WordTitle_Edit" name="WordTitle_Edit" value="@Model.WordTitle"/>
    </div>
    <div class="inputrow">
        <label class="inputrow">Rating</label>
        <input type="radio" value="1" name="WordRating_Edit" />
        <input type="radio" value="2"  name="WordRating_Edit" />
        <input type="radio" value="3" name="WordRating_Edit" />
        <input type="radio" value="4" name="WordRating_Edit" />
        <input type="radio" value="5" name="WordRating_Edit" />
    </div> 
    <div class="inputrow">
        <label class="inputrow">Country</label>
        <select id="Country_Edit" name="Country_Edit">
            <option value="Canada">Canada</option>
            <option value="Ireland">Ireland</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
        </select>
    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>

</form>
