﻿@model IEnumerable<passionproject.Models.Word>

@{
    ViewBag.Title = "List";
}

<h2>List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.WordTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Rating)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.WordTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Rating)
        </td>
        <td>
            <a href="/Word/EditWord/@item.WordID">Edit this Word</a>
            @Html.ActionLink("Show", "Showword", new { id=item.WordID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WordID })
        </td>
    </tr>
}

</table>
