﻿
@{
    ViewBag.Title = "NewWord";
}

<h2>New Word</h2>


<form method="POST" action="/Word/NewWord">
    <!--Correct?/Word/Create-->
    <div class="inputrow">
        <label class="input-label">Word:</label>
        <input id="WordTitle_New" name="WordTitle_New" />
    </div>

    <div class="inputrow">
        <label class="inputrow">Common Usage Rating:</label>
        <label class="inputrow">1(Low)</label>
        <input type="radio" value="1" name="Rating_New" />
        <label class="inputrow">2</label>
        <input type="radio" value="2" name="Rating_New" />
        <label class="inputrow">3</label>
        <input type="radio" value="3" name="Rating_New" />
        <label class="inputrow">4</label>
        <input type="radio" value="4" name="Rating_New" />
        <label class="inputrow">5</label>
        <input type="radio" value="5" name="Rating_New" />
    </div>
    <div class="inputrow">
        <label class="inputrow">Country</label>
        <select id="Country_New" name="Country_New">
            <option value="Canada">Canada</option>
            <option value="Ireland">Ireland</option>
            <option value="United Kingdom">United Kingdom</option>
            <option value="United States">United States</option>
        </select>
    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>

</form>  