﻿@model passionproject.Models.Word

@{
    ViewBag.Title = "Showword";
}


  <h2>@Model.WordTitle</h2>
<div>
    @Html.ActionLink("Edit", "EditWord/"+Model.WordID)
</div>


<p>Country: @Model.Country</p>

<p>Rating: @Model.Rating</p>
<!--Display radio and dropdown properly?
    or need foreach-->

<h4>Defining Terms:</h4>
<!--ViewModel??-->